<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/nav.css">
   <style>
            .thumbnail-container {
                width: 50%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a href="index" class="navbar-brand">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="navbar-nav">
                        
                        <li class="nav-item"><a href="books" class="nav-link">Books</a></li>
                        
                    </ul>
                    <ul class="navbar-nav ml-auto">
                    
                        <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <header class="mb-4">
                <h1>shelf it!</h1>
                <hr class="my-1" />
                <small class="text-muted">Hassle-free Library Management</small>
            </header>
        
            <p>
                Got a truckload of books in your library? Are you maintaining your catalog and book issues manually using registers?
            </p>
            <p>
                It's time you dump those registers in the trash, and switch to a modern Library Management System. Try <span class="text-primary">shelf it!</span> You won't regret. The world has moved on to digital. You should too...
            </p>
        </div>

        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>